# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
client
pdemo
player
server
world

#BK files
#
*.swo
*.swp
1
:w!
error_log.txt
access_log.txt
error.log
access.log
